<div class="main-container">
    <h2>Author: {{ author.name }}</h2>

    <h3>{{ author.name }} is the author of the following articles:</h3>


    <ul>

        {{#each articles}}
            <div class="article-container">
                <a class="article-title" href="/article/{{this._id}}">{{this.title}}</a>
                <p class="article-body">{{articlePreview this.body}}</p>
            </div>
        {{/each}}
    </ul>
</div>