<h2>Author: {{ author.name }}</h2>

<h3>{{ author.name }} is the author of the following articles:</h3>


<ul>
    <div class="article-container">
        {{#each articles}}
            <a class="article-title" href="/article/{{this._id}}">{{this.title}}</a>
            <p>{{this.body}}</p>
        {{/each}}
    </div>
</ul>
