<div class="main-container">

        <h3>Featured Articles</h3>

        <ul>
            {{#each articles}}
                <div class="article-container">
                    <a href="/deleteArticle/{{this._id}}" class="delete-icon fas fa-times-circle"></a>
                    <a class="article-title" href="/article/{{this._id}}">{{this.title}}</a>
                    <p class="article-body"> {{articlePreview this.body}}</p>
                </div>
            {{/each}}
        </ul>

    <br>
    <div class="newArticle">
        <h3>Add a new Article:</h3>

            <span class="title">Title:</span> <input id="titleInput" name="title" type="text">
            <br/>
            <span class="body">Body: </span><textarea id="bodyInput" name="body"></textarea>
            <br/>
            {{#if authors}}
                Select an author: <br/>
                {{#each authors}}
                    <input id={{this._id}} type="radio" name="author" value={{this._id}}><label
                        for="{{this._id}}">{{this.name}} </label><br/>
                {{/each}}
            {{/if}}
            <button class="submitButton">Submit</button>

    </div>

</div>