<div class="main-container">


        <h3>Featured Articles</h3>

        <ul>
            {{#each articles}}
                <div class="article-container">
                    <a href="/deleteArticle/{{this._id}}" class="delete-icon fas fa-times-circle"></a>
                    <li><a href="/article/{{this._id}}">{{this.title}}</a></li>
                    <p>{{this.body}}</p>
                </div>
            {{/each}}
        </ul>


    <br>
    <div class="newArticle">
        <h3>Add a new Article:</h3>
        <form method="post" action="/submitArticle">
            <span class="title">Title:</span> <input name="title" type="text">
            <br/>
            <span class="body">Body: </span><textarea name="body"></textarea>
            <br/>
            {{#if authors}}
                Select an author: <br/>
                {{#each authors}}
                    <input id={{this._id}} type="radio" name="author" value={{this._id}}><label
                        for="{{this._id}}">{{this.name}} </label><br/>
                {{/each}}
            {{/if}}
            <input class="submitButton" type="submit" placeholder="Submit">
        </form>
    </div>

</div>